<context>
    <table>
        <tr each={ value, key in this.opts.data }><th>{ this.renderLabel(key, value) }</th><td>{ this.renderValue(key, value) }</td></tr>
    </table>

    <style scoped>
        table {
          table-layout: fixed;
          width: 100%;
          overflow: hidden;
        }
        th {
          text-align: left;
          width: 40%;
        }
        td {
          width: 50%;
        }
        tr:nth-child(even) {
          background: #f3f3f3;
        }
    </style>

    <script>
        this.renderValue = (key, value) => {
          if (SCHEMA[key]['type'] === 'array') return value.join(', ')
          if (SCHEMA[key]['format'] === 'date') return (new Date(value * 1000)).toLocaleDateString()
          if (SCHEMA[key]['enum']) return SCHEMA[key]['enum'][value]
          return value
        }

        this.renderLabel = (key, value) => {
          return SCHEMA[key]['label']
        }
    </script>
</context>
