<context>
    <table>
        <tr each={ value, key in this.opts.data }><th>{ renderLabel(key, value) }</th><td>{ renderValue(key, value) }</td></tr>
    </table>

    <style scoped>
        table {
          table-layout: fixed;
          width: 100%;
          overflow: hidden;
        }
        th {
          text-align: left;
          width: 40%;
        }
        td {
          width: 50%;
        }
        tr:nth-child(even) {
          background: #f3f3f3;
        }
    </style>
</context>
