<navbar>
  <progress style="display: none" id="progress" />
  <h1><a href=".">☘</a></h1>
  <nav>
    <a href="#schema" class="{selected: window.location.hash.startsWith('#schema')}">Schéma</a>
    <a href="#rules" class="{selected: window.location.hash.startsWith('#rules')}">Règles de gestion</a>
    <a href="#simulate" class="{selected: window.location.hash.startsWith('#simulate')}">Simuler</a>
    <a href="#financements" class="{selected: window.location.hash.startsWith('#financements')}">Financements</a>
    <a href="#scenarios" class="{selected: window.location.hash.startsWith('#scenarios')}">Scénarios</a>
    <a href="#tools" class="{selected: window.location.hash.startsWith('#tools')}">Outils</a>
    <a href="#glossary" class="{selected: window.location.hash.startsWith('#glossary')}">Glossaire</a>
  </nav>

  <style scoped>
    :scope {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding: 2em;
      border-bottom: 1px solid #eee;
    }
    h1 {
      display: inline-block;
      font-size: 3em;
      line-height: 1em;
    }
    nav a {
      font-size: 1.4em;
      font-variant: small-caps;
    }
    nav a:hover, nav a.selected {
      text-decoration: underline;
    }
    a + a {
      margin-left: 1em;
    }
    * {
      display: flex;
      align-items: center;
    }
    progress {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      height: 5px;
    }
  </style>

  <script>
    this.on('mount', () => init())
  </script>

</navbar>
