<navbar>
  <progress style="display: none" id="progress" />

      <!-- Vertical navbar -->
    <div class="vertical-nav bg-light" id="sidebar">

      <ul class="nav flex-column bg-light mb-0">
        <li class="nav-item bg-light" style="margin-bottom:4em">
            <h1>
              <a href="." class="nav-link text-dark">☘</a>
            </h1>
        </li>
        <li class="nav-item">
          <h4>
			  <a href="." class="{selected: window.location.hash.startsWith('')} nav-link text-dark bg-light"><img src="/explorer/images/Icone_Home.svg" width="18" height="18" class="d-inline-block" alt=""> Accueil</a>
          </h4>
        </li>
        <li class="nav-item">
          <h4>
            <a href="#rules" class="{selected: window.location.hash.startsWith('#rules')} nav-link text-dark bg-light"><img src="/explorer/images/Icone_Referentiel.svg" width="18" height="18" class="d-inline-block" alt=""> Référentiel</a>
          </h4>
        </li>
        <li class="nav-item">
          <h4>
            <a href="#financements" class="{selected: window.location.hash.startsWith('#financements')} nav-link bg-light"><img src="/explorer/images/Icone_Financement.svg" width="18" height="18" class="d-inline-block" alt=""> Financements</a>
          </h4>
        </li>
        <li class="nav-item">
          <h4>
            <a href="#simulate" class="{selected: window.location.hash.startsWith('#simulate')} nav-link text-dark bg-light"><img src="/explorer/images/Icone_Simulateur.svg" width="18" height="18" class="d-inline-block" alt=""> Simulateur</a>
          </h4>
        </li>
        <li class="nav-item">
          <h4>
            <a href="#scenarios" class="{selected: window.location.hash.startsWith('#scenarios')} nav-link text-dark bg-light"><img src="/explorer/images/Icone_Scenarios.svg" width="18" height="18" class="d-inline-block" alt=""> Scénarios</a>
          </h4>
        </li>
        <li class="nav-item">
          <h4>
            <b href="#tools" class="{selected: window.location.hash.startsWith('#tools')} nav-link text-dark bg-light"><img src="/explorer/images/Icone_Outils.svg" width="18" height="18" class="d-inline-block" alt=""> Outils</a>
          </h4>
        </li>
<!--
        <li class="nav-item">
          <h4>
            <a href="#glossary" class="{selected: window.location.hash.startsWith('#glossary')} nav-link bg-light">Glossaire</a>
          </h4>
        </li>
        <li class="nav-item">
          <h4>
			  <a href="#schema" class="{selected: window.location.hash.startsWith('#schema')} nav-link bg-light">Schéma</a>
          </h4>
        </li>
-->
      </ul>
    </div>
    <!-- End vertical navbar -->

  <style scoped>

    :scope {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding: 2em;
      border-bottom: 1px solid #eee;
    }
    h1 {
      display: inline-block;
      font-size: 3em;
      line-height: 1em;
    }
    nav a {
      font-size: 1.4em;
      font-variant: small-caps;
    }
    nav a:hover, nav a.selected {
      text-decoration: underline;
    }
    a + a {
      margin-left: 1em;
    }
    progress {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      height: 5px;
    }
  </style>

  <script>
    this.on('mount', () => init())

    $(function() {
      // Sidebar toggle behavior
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar, #content').toggleClass('active');
      });
    });
  </script>

</navbar>
