<rule>
  <pre ref=pre></pre>
  <style scoped>
    pre strong {
      font-family: 'mono';
      font-weight: bold;
    }
    pre .comment {
      font-family: 'mono';
      font-style: italic;
      color: #666;
    }
    pre .keyword {
      font-family: 'mono';
      font-weight: 600;
    }
    pre .constant {
      font-family: 'mono';
      font-weight: 600;
      text-decoration: underline dotted;
      cursor: help;
    }
    pre .string,
    pre .number {
      font-family: 'mono';
      font-weight: 600;
    }
    pre code {
      display: block;
      padding-left: 1em;
      font-family: mono;
    }
    a.line {
      display: none;
    }
    :scope.with-lines a.line {
      display: inline-block;
      background-color: #ddd;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
    }
    :scope.with-lines a:target, :scope.with-lines a:target + code {
      font-weight: bold;
      background-color: #ccc;
    }
    :scope.with-lines pre {
      display: grid;
      grid-template-columns: 2em auto;
    }
    .tooltip .tooltip-content:after {
      /* Why? */
      bottom: -27px;
    }
  </style>
  <script>
    this.raw = opts.content.replace(/Si /g, '<strong>Si </strong>')
                      .replace(/Soit /g, '<strong>Soit </strong>')
                      .replace(/Quand /g, '<strong>Quand </strong>')
                      .replace(/Scénario: /g, '<strong>Scénario: </strong>')
                      .replace(/Ou /g, '<strong>Ou </strong>')
                      .replace(/, ou /g, '<strong>, ou </strong>')
                      .replace(/Et /g, '<strong>Et </strong>')
                      .replace(/, et /g, '<strong>, et </strong>')
                      .replace(/Alors /g, '<strong>Alors </strong>')
                      .replace(/(#.+)/g, "<em class=comment>$1</em>")
                      .replace(/( [\d\.]+)/g, "<span class=number>$1</span>")
                      .replace(/(«.+»)/g, "<span class=string>$1</span>")
                      .replace(/,([^ ])/g, ", $1")
    for (const [key, schema] of Object.entries(SCHEMA)) {
      if (schema.label) {
        let replace = `<span class='tooltip'><span class='keyword'>$1</span><span class=tooltip-content>`
        replace += `<strong>Description</strong> ${schema.description || schema.label}<br>`
        if (schema.value) replace += `<strong>Valeur</strong> ${schema.value}<br>`
        if (schema.source) replace += `<strong>Source</strong> ${schema.source}<br>`
        if (schema.default !== undefined) replace += `<strong>Par défaut</strong> ${schema.default}`
        replace += `</span></span>`
        this.raw = this.raw.replace(new RegExp(`(${schema.label})`, 'g'), replace)
      }
    }
    const lines = this.raw.split('\n')
    let raw = '', id, hash = window.location.hash.split('#')[1]
    for (var i = 0; i < lines.length; i++) {
      id = hash.split('~')[0] + '~' + (i+1)
      raw += `<a href="#${id}" id="${id}" class=line>${i+1}</a><code>${lines[i]}</code>`
    }
    this.on('mount', () => this.refs.pre.innerHTML = raw)
  </script>
</rule>
