<rules>
  <div id="ref-main-div" class="bg-white">  
    <div id="ref-header-row">
      <div class="container">
        <div class="row mb-4">
          <div id="ref-count-financements" class="col-md-3 col-sm-6 col-xs-12">
            <span id="ref-count-financements-number" class="ref-results-count-number ref-count-financements-text">{ this.count_financements }</span>
            <span class="ref-count-financements-text" if={ this.lt_two }>&nbsp;financement</span>
            <span class="ref-count-financements-text" if={ !this.lt_two }>&nbsp;financements</span>
          </div>
          <div id="ref-create-financement" class="col-md-3 col-sm-6 col-xs-12 my-auto">
            <button href="#" class="btn btn-outline-success" disabled>Créer un financement</button>
          </div>
          <div id="ref-search-financement" class="col-md-6 col-sm-12 col-xs-12 my-auto">
            <div class="form-inline pull-right">
              <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" id="financement-search-field" name="financement-search" type="search" placeholder="Rechercher">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="ref-last-update" class="col-md-12">
            Dernière mise à jour le <> à <>
          </div>
        </div>
      </div>
    </div>
    <hr class="ref-horizontal-separator">
    <div id="ref-filter-row" class="container">
      <label for="financement-filter-select">Filtrer par</label>
      <select id="financement-filter-select" class="form-control" name="financement-filter-select" disabled>
        <option>Tous les publics</option>
      </select>
    </div>
    <hr class="ref-horizontal-separator">
    <div id="ref-result-row" class="container">
      <span class="ref-results-count" if={ this.lt_two }>
          Résultat (<span class="ref-results-count-number">{ this.count_financements }</span>)
      </span>
      <span class="ref-results-count" if={ !this.lt_two }>
          Résultats (<span class="ref-results-count-number">{ this.count_financements }</span>)
      </span>
      <div id="ref-results-list">
        <ul id="ul-ref-results-list" class="container">
          <li each={ this.financements } class="mt-4 row">
            <span class="col-md-3 col-sm-12">
              <strong class="ref-fields">{ intitule }</strong>
            </span>
            <span class="col-md-8 col-sm-11">
              <button each={ tag in _tags} class="btn btn-outline-info" href="#" disabled>{ tag }</button>
            </span>
            <span class="col-md-1 col-sm-1 pull-right">              
              <button href="https://framagit.org/ybon/trefle/tree/master/trefle/config/financements.yml" target="_blank" class="text-dark btn btn-outline-light" disabled>
                <i class="icon" style="vertical-align: baseline;">edit</i>
              </button>
            </span>
          </li>          
          <hr class="ref-list-horizontal-separator">
        </ul>
      </div>

    </div>
  </div>

  <script>
    this.financements = []
    this.count_financements = 0
    this.lt_two = false;

    this.on('mount', () => this.load())

    this.load = () => {
      request('../explore/financements')
      .then(data => {
        this.financements = data
        for (var i = 0; i < this.financements.length; i++) {
          // Riot sucks on `tags`…
          this.financements[i]['_tags'] = this.financements[i]['tags']
          this.count_financements++
        }
        if (this.count_financements<2) this.lt_two=true;
        this.update()
      })      
    }
    
    this.mixin(View)

    $(document).ready(function() {
      $("#ref-main-div").css("height","100%");
      $("#ref-main-div").css("min-height","100vh");
      $("#financement-search-field").focus().keyup(function(event){
        var input = $(this);
        var val = input.val();
        if(val== ''){
          $("#ul-ref-results-list li").show();
          $(".ref-results-count-number").empty().text($("#ul-ref-results-list li:visible").length);   
          return true;
        }
        var regexp = '\\b(.*)';
        for (var i in val){
            regexp += '('+val[i]+')';
        }
        regexp += '(.*)\\b';
        $("#ul-ref-results-list li").show();
        $("#ul-ref-results-list").find('li .ref-fields').each(function() {
          var item = $(this);
          var results = item.text().match(new RegExp(regexp,'i'));
          if(results){
            var string = '';
            for(var i in results){
              if(i > 0){  
                string += results[i];
              }
            }
            item.empty().append(string)
          } else{
            item.parent().parent().hide();
          }
        $(".ref-results-count-number").empty().append($("#ul-ref-results-list li:visible").length);  
        }); 
      });
    })

  </script>

  <style scoped>
    h3 {
      font-variant: small-caps;
    }
  </style>

</rules>

