<rules>
  <div each={ props, name in items }>
    <h3>{ name } <a href=https://framagit.org/ybon/trefle/tree/master/trefle/config/{ props.path } target=_blank> <i class="icon">edit</i></a></h3>
    <rule content={ props.data }></rule>
  </div>

  <script>
    this.items = []

    this.on('mount', () => this.load())

    this.load = () => {
      fetch('/explore/rules')
      .then((response) => response.json())
      .then((data) => {
        this.items = data
        this.update()
      })
    }

    this.mixin(View)
  </script>

  <style scoped>
    :scope {
      /* Prevent huge comments to overflow */
      overflow-x: hidden;
      min-width: 1200px;
    }
    h3 {
      font-variant: small-caps;
    }
  </style>

</rules>

