<rules>
  <aside>
    <rules-menu title="Règles régionales" namespace="région"></rules-menu>
    <rules-menu title="Règles nationales" namespace="règles nationales"></rules-menu>
    <rules-menu title="Règles des organismes paritaires" namespace="organisme paritaire"></rules-menu>
    <rules-menu title="Règles de rémunérations" namespace="rémunération"></rules-menu>
    <rules-menu title="Règles de normalisation" namespace="normalisation"></rules-menu>
  </aside>
  <div if={ this.rule }>
    <h3>{ this.rule.path } <a href=https://framagit.org/ybon/trefle/tree/master/trefle/config/rules/{ this.rule.path } target=_blank> <i class="icon">edit</i></a></h3>
    <rule content={ this.rule.data } class=with-lines></rule>
  </div>
  <div if={ !this.rule }>
    <p>Sélectionner une règle dans le menu.</p>
  </div>

  <script>
    this.rules = []
    this.rule = null
    this.active = null

    this.on('mount', () => this.load())

    this.load_data = (data) => {
      RULES = data
      this.rules = data
      if (this.opts.id) {
        this.active = decodeURIComponent(this.opts.id)
        this.rule = data[this.active.split('~')[0]]
      }
      this.update()
      // Force element target after DOM has been rebuilt
      // (eg. if we have a ~line in the URL, to highlight it).
      window.location.hash = window.location.hash
    }

    this.load = () => {
      if (RULES) return this.load_data(RULES)
      request('../explore/rules')
      .then(this.load_data)
    }

    this.mixin(View)
  </script>

  <style scoped>
    :scope.tools {
      min-width: 1200px;
      grid-template-columns: 1fr 4fr;
    }
    h3 {
      font-variant: small-caps;
    }
  </style>

</rules>

<rules-menu>
<h4>{ this.opts.title }</h4>
  <ul>
    <li each={ props, id in this.parent.rules } if={ props.path.startsWith(this.opts.namespace) }><a href="#rules/{ id }" class='{ on: this.parent.parent.active && this.parent.parent.active.startsWith(id) }' title={ id }>{ props.name }</a></li>
  </ul>
</rules-menu>
