<schema>
  <dl each={ props, name in items }>
    <dt>{props.label || props.description} <em>({props.type})</em></dt>
    <dd if={props.value}><strong>Valeur</strong> {props.value}</dd>
    <dd if={props.description}><strong>Description</strong> {props.description}</dd>
    <dd if={props.source}><strong>Source</strong> {props.source}</dd>
    <dd if={props.xpath}><strong>LHEO</strong> {props.xpath}</dd>
  </dl>

  <script>
    this.items = SCHEMA

    this.mixin(View)
  </script>

  <style scoped>
    dt {
      font-variant: small-caps;
    }
    dt em {
      font-variant: normal;
    }
    dl {
      margin-top: 10px;
      font-size: 1.1em;
    }
  </style>

</schema>
