<simulate>
  <section>
    <h2>Depuis une URL LBF</h2>
    <form onsubmit={ this.submit }>
      <input type="url" ref="url" placeholder="Entrer une URL LBF" name="lbfurl" href="#" value={ this.opts.url }>
      <input type="submit" value="Simuler">
    </form>
  </section>
  <section if={ Object.keys(this.errors).length && !Object.keys(this.context).length } class=results>
    <ul>
      <li each={ message, key in this.errors }><strong>{ key }</strong> { message }</li>
    </ul>
  </section>
  <section class=results if={ Object.keys(this.context).length }>
    <h2>Financements</h2>
    <ul>
      <li each={ this.financements } class={result: 'result', visible: visible}>
        <h3 class={ passed: eligible, failed: !eligible } onclick={ parent.toggle }>{nom}</h3>
        <p><strong>Description</strong> {description}</p>
        <p><strong>Démarches</strong> {demarches}</p>
        <virtual if={ eligible }>
          <p><strong>Prise en charge</strong> {prise_en_charge}</p>
          <p><strong>Plafond de prise en charge</strong> {plafond_prise_en_charge}</p>
          <p><strong>Plafond de prix horaire</strong> {plafond_prix_horaire}</p>
          <p><strong>Nombre d'heures</strong> {heures}</p>
          <p><strong>Rémunération</strong> {remuneration}</p>
          <p><strong>Organisme</strong> {organisme.nom}</p>
        </virtual>
        <p>
          <strong>Règles de gestion</strong>
          <eligibilite conditions={ status }></eligibilite>
        </p>
      </li>
    </ul>
    <p if={ !this.financements.length }>Aucun financement trouvé.</p>
    <h2>Contexte</h2>
    <context data={ this.context }></context>
    <h2>Scénario de test</h2>
    <textarea onfocus={ this.selectScenario }>{ this.scenario }</textarea>
  </section>
  <script>
    this.financements = []
    this.context = {}
    this.errors = {}
    this.mixin(View)

    this.on('mount', () => this.load())

    this.load = () => {
      if (this.opts.url) this.simulate_url(this.opts.url)
    }

    this.dataErrors = (data) => {
        this.errors = data
        this.update()
    }

    this.handleResponse = (response, callback) => {
        const promise = response.json()
        if (response.ok) promise.then(callback)
        else promise.then(this.dataErrors)
    }

    this.decodeLBFURL = (url, callback) => {
      fetch(`/explore/decode-lbf-url?url=${encodeURIComponent(url)}`)
      .then((response) => this.handleResponse(response, callback))
    }

    this.simulate = (data) => {
      fetch('/financement?context=1&scenario=1', {
        method: 'post',
        body: JSON.stringify(data)
      })
      .then((response) => this.handleResponse(response, (data) => {
        this.financements = data.financements
        this.context = data.context
        this.scenario = data.scenario
        this.update()
      }))
    }

    this.submit = (e) => {
      this.financements = []
      this.context = {}
      this.errors = {}
      e.preventDefault();
      const url = this.refs.url.value
      if (!url) return
      route(`simulate/${url}`)
    }

    this.simulate_url = (url) => {
      this.decodeLBFURL(url, this.simulate)
    }

    this.toggle = (e) => {
      var item = e.item
      item.visible = !item.visible
    }

    this.selectScenario = (e) => {
      e.target.select()
    }
  </script>

  <style scoped>
    h2 {
      font-variant: small-caps;
    }
    .results {
      padding: 10px;
      border-left: 1px solid #ddd;
    }
    .result {
      border-bottom: 1px solid #eee;
    }
    .result p {
      display: none;
    }
    .result.visible p {
      display: block;
    }
    .result.visible {
      border: 1px solid #eee;
      padding: 5px;
    }
    .result h3 {
      font-weight: normal;
      cursor: pointer;
    }
    .result h3.passed {
      font-weight: bold;
    }
    .failed:before {
      content: '✗';
    }
    .passed:before {
      content: '✔';
    }
    textarea {
      min-height: 600px;
    }
  </style>

</simulate>

<eligibilite>
  <ul>
    <li each={ props, i in this.opts.conditions } class={ passed: props.status, failed: !props.status, sub: this.opts.connective}>
      <span if={ i && this.opts.connective } class="connective"> { this.opts.connective } </span>
      <virtual if={ !props.terms }>
        <span class=tooltip if={ !props.status }><span>{ props.condition }</span><span class=tooltip-content>{ props.reason }</span></span>
        <span class=tooltip if={ props.status }><span>{ props.condition }</span><span class=tooltip-content><span each={ value, key in props.params }>{ renderLabel(key, value) }: { renderValue(key, value) }<br></span></span></span>
      </virtual>
      <eligibilite if={ props.terms } conditions={ props.terms } connective={ props.connective }></eligibilite>
      <eligibilite if={ props.children } conditions={ props.children }></eligibilite>
    </li>
  </ul>

  <style scoped>
    .failed {
      color: #c0392b;
    }
    .sub:before {
      content: '';
    }
    li li {
      padding-left: 10px;
    }
    li ul, li.sub {
      display: inline;
      padding-left: 0;
    }
    .connective {
      color: #222;
      font-style: italic;
    }
  </style>

</eligibilite>
