<simulate>
  <section>
    <h2>Depuis une URL LBF</h2>
    <form onsubmit={ this.submit }>
      <input type="url" ref="url" placeholder="Entrer une URL LBF" name="lbfurl">
      <input type="submit" value="Simuler">
    </form>
  </section>
  <section if={ Object.keys(this.errors).length && !Object.keys(this.context).length } class=results>
    <ul>
      <li each={ message, key in this.errors }><strong>{ key }</strong> { message }</li>
    </ul>
  </section>
  <section class=results if={ Object.keys(this.context).length }>
    <h2>Financements</h2>
    <ul>
      <li each={ this.financements } class=result>
        <h3>{nom}</h3>
        <p><strong>Description</strong> {description}</p>
        <p><strong>Démarches</strong> {demarches}</p>
        <p><strong>Prise en charge</strong> {prise_en_charge}</p>
        <p><strong>Plafond de prise en charge</strong> {plafond_prise_en_charge}</p>
        <p><strong>Plafond de prix horaire</strong> {plafond_prix_horaire}</p>
        <p><strong>Nombre d'heures</strong> {heures}</p>
        <p><strong>Rémunération</strong> {remuneration}</p>
        <p><strong>Organisme</strong> {organisme.nom}</p>
      </li>
    </ul>
    <p if={ !this.financements.length }>Aucun financement trouvé.</p>
    <h2>Contexte</h2>
    <table>
      <tr each={ value, key in this.context }><th>{ this.renderLabel(key, value) }</th><td>{ this.renderValue(key, value) }</td></tr>
    </table>
    <h2>Scénario de test</h2>
    <rule if={ this.scenario } content={ this.scenario }></rule>
  </section>
  <script>
    this.financements = []
    this.context = {}
    this.errors = {}
    this.mixin(View)

    this.dataErrors = (data) => {
        this.errors = data
        this.update()
    }

    this.handleResponse = (response, callback) => {
        const promise = response.json()
        if (response.ok) promise.then(callback)
        else promise.then(this.dataErrors)
    }

    this.decodeLBFURL = (url, callback) => {
      fetch(`/explore/decode-lbf-url?url=${encodeURIComponent(url)}`)
      .then((response) => this.handleResponse(response, callback))
    }

    this.simulate = (data) => {
      fetch('/financement?eligible=1&context=1&scenario=1', {
        method: 'post',
        body: JSON.stringify(data)
      })
      .then((response) => this.handleResponse(response, (data) => {
        this.financements = data.financements
        this.context = data.context
        this.scenario = data.scenario
        this.update()
      }))
    }

    this.submit = (e) => {
      this.financements = []
      this.context = {}
      this.errors = {}
      e.preventDefault();
      const url = this.refs.url.value
      if (!url) return
      this.decodeLBFURL(url, this.simulate)
    }

    this.renderValue = (key, value) => {
      if (SCHEMA[key]['type'] === 'array') return value.join(', ')
      if (SCHEMA[key]['format'] === 'date') return (new Date(value * 1000)).toLocaleDateString()
      return value
    }

    this.renderLabel = (key, value) => {
      return SCHEMA[key]['label']
    }

  </script>

  <style scoped>
    h2 {
      font-variant: small-caps;
    }
    .results {
      padding: 10px;
      border-left: 1px solid #ddd;
    }
    table {
      table-layout: fixed;
      width: 100%;
      overflow: hidden;
    }
    th {
      text-align: left;
      width: 40%;
    }
    td {
      width: 50%;
    }
    tr:nth-child(even) {
      background: #eee;
    }
    .result {
      border-bottom: 1px solid #eee;
    }
  </style>

</simulate>
