<simulate>
  <section>
      <h2>Depuis un résultat de financement LBF <a if={ opts.url } href={ opts.url }><i class=icon>link</i></a></h2>
  </section>
  <section if={ Object.keys(this.errors).length && !Object.keys(this.context).length } class=results>
    <ul>
      <li each={ message, key in this.errors }><strong>{ key }</strong> { message }</li>
    </ul>
  </section>
  <section class=results if={ !Object.keys(this.context).length }>
      <p>Vous devez faire une simulation sur LBF et cliquer sur le bouton "simuler sur trèfle"</p>
      <p> Pour voir le bouton sur le site de production glisser/déposer ce lien dans votre bookmark <a class=button href="javascript:(()=>\{if(document.cookie='mode-expert=1; max-age=43200;') location.reload()\})()">LBF mode expert</a></p>
  </section>
  <section class=results if={ Object.keys(this.context).length }>
    <h2>Financements</h2>
    <p class="filter">
        <span onclick={ this.filter } class="label {eligible: this._tagsEligible.includes(tag)}" each={ tag, i in this._tags }>{tag}</span>
    </p>
    <p if={ !this.currentFilter }>
        <input type=checkbox onclick={ this.checked=toggleFailed }>Tous les financements</input>
    </p>
    <p if={ this.currentFilter }>
        <input type=checkbox onclick={ this.checked=this.filter }>Tous les financements éligibles</input>
    </p>
        <ul>
          <li each={ this.financements } class={result: 'result', visible: visible, hide: (!eligible && !this.currentFilter)}>
            <h3 class={ passed: eligible, failed: !eligible } onclick={ parent.toggle }>{intitule}
                <label onclick={ this.filter } class="label" each={ tag, i in _tags }>{tag}</label>
           </h3>
            <p><strong>Description</strong> {description}</p>
            <p><strong>Démarches</strong> {demarches}</p>
            <virtual if={ eligible }>
              <p><strong>Prise en charge</strong> { prise_en_charge }</p>
              <p if={ prise_en_charge_texte }><strong>Prise en charge</strong> { prise_en_charge_texte }</p>
              <p><strong>Plafond de prise en charge</strong> {plafond_prise_en_charge}</p>
              <p><strong>Plafond de prix horaire</strong> {plafond_prix_horaire}</p>
              <p><strong>Nombre d'heures prises en charge</strong> {heures}</p>
              <p><strong>Rémunération</strong> {remuneration}</p>
              <p if={ remuneration_texte }><strong>Rémunération</strong> { remuneration_texte }</p>
              <p if={ fin_remuneration}><strong>Fin de la rémunération</strong> { renderValue('financement.fin_remuneration', fin_remuneration) }</p>
              <p if={ rff }><strong>RFF</strong> { rff }</p>
              <p if={ debut_rff }><strong>Début de la RFF</strong> { renderValue('financement.debut_rff', debut_rff) }</p>
              <p if={ fin_rff }><strong>Fin de la RFF</strong> { renderValue('financement.fin_rff', fin_rff) }</p>
              <p if={ organisme }><strong>Organisme</strong> {organisme.nom}</p>
            </virtual>
            <p>
              <strong>Règles de gestion</strong>
              <eligibilite conditions={ explain }></eligibilite>
            </p>
          </li>
        </ul>
        <p if={ !this.financements.length }>Aucun financement trouvé.</p>
        <h2>Contexte</h2>
        <context data={ this.context }></context>
        <h2>Scénario de test</h2>
        <textarea onfocus={ this.selectScenario }>{ this.scenario }</textarea>
      </section>
      <script>
        this.financements = []
        this.context = {}
        this.errors = {}
        this.mixin(View)

        this.on('mount', () => this.load())

        this.load = () => {
          if (this.opts.url) this.simulate_url(this.opts.url)
        }

        this.onError = (data) => {
            this.errors = data
            this.update()
        }

        this.decodeLBFURL = (url, callback) => {
          request(`../explore/decode-lbf-url?url=${encodeURIComponent(url)}`)
          .then(callback, this.onError)
        }

        this.simulate = (data, tags = '') => {
          if (tags) tags = '&tags=' + tags.toString();
          request('/financement?context=1&scenario=1&explain=1' + tags, {
            method: 'post',
            body: JSON.stringify(data)
          })
          .then((data) => {
            this.financements = data.financements
            this.currentFilter = ''
            if (!tags) {
                var _tags = new Array()
                var _tagsEligible = new Array()
            }
            for (var i = 0; i < this.financements.length; i++) {
              // Riot sucks on `tags`…
              this.financements[i]['_tags'] = this.financements[i]['tags']
              if(_tags) _tags = _tags.concat(this.financements[i]['tags'])
              if(_tagsEligible && this.financements[i]['eligible']) _tagsEligible = _tagsEligible.concat(this.financements[i]['tags'])
            }
            if(_tags) this._tags = [...new Set(_tags)].sort()
            if(_tagsEligible) this._tagsEligible = [...new Set(_tagsEligible)]
            if(tags) this.currentFilter = tags
        this.context = data.context
        this.scenario = data.scenario
        this.update()
      }, this.onError)
    }

    this.simulate_url = (url) => {
      this.decodeLBFURL(url, this.simulate)
    }

    this.toggle = (e) => {
      var item = e.item
      item.visible = !item.visible
    }

    this.toggleFailed = () => {
        document.querySelectorAll('.failed').forEach((e) => { e.parentNode.classList.toggle('hide') })
    }

    this.filter = (e) => {
        var filterTag = ''
        if(typeof e.item !== 'undefined' && typeof e.item.tag  == 'string')
        {
            document.querySelectorAll('.filter .label').forEach((e) => { e.classList.remove('selected'); e.classList.add('lighten') })
            e.target.classList.add('selected');
            e.target.classList.remove('lighten');
            filterTag = e.item.tag
        }
        else
            document.querySelectorAll('.filter .label').forEach((e) => { e.classList.remove('selected'); e.classList.remove('lighten') })

        this.simulate ( this.context, filterTag )
    }

    this.selectScenario = (e) => {
      e.target.select()
    }
  </script>

  <style scoped>
    h2 {
      font-variant: small-caps;
    }
    .selected {
        font-weight: bold;
    }
    .lighten {
        opacity: 0.5;
    }
    .results {
      padding: 10px;
      border-left: 1px solid #ddd;
    }
    .result {
      border-bottom: 1px solid #eee;
    }
    .result.hide {
        display: none;
    }
    .result p {
      display: none;
    }
    .result.visible p {
      display: block;
    }
    .result.visible {
      border: 1px solid #eee;
      padding: 5px;
    }
    .result h3 {
      font-weight: normal;
      cursor: pointer;
    }
    .result h3.passed {
      font-weight: bold;
    }
    .failed:before {
      content: '✗';
      color: crimson;
    }
    .passed:before {
      content: '✔';
      color: forestgreen;
    }
    textarea {
      min-height: 600px;
    }
    .label {
      color: white;
      font-size: small;
      display: inline-block;
      background-color: slategray;
      border-radius: 0.25em;
      padding: 0.2em;
      margin: 0.2em 0.2em;
      cursor: pointer;
    }
    .filter .label {
      background-color: crimson;
    }
    .filter .eligible {
      background-color: forestgreen;
    }
    li > h3 > .label {
      float: right;
    }
    li > h3 > .label:first {
      margin-left:10em;
    }
  </style>

</simulate>

<eligibilite>
  <ul>
    <li each={ props, i in this.opts.conditions } class={ passed: props.status, failed: !props.status, sub: this.opts.connective}>
      <span if={ i && this.opts.connective } class="connective"> { this.opts.connective } </span>
      <virtual if={ !props.terms }>
        <span class=tooltip if={ !props.status }><span>{ props.condition }</span><span class=tooltip-content>{ props.reason }</span></span>
        <span class=tooltip if={ props.status }><span>{ props.condition }</span><span class=tooltip-content><span if={ !Object.keys(props.params).length }>Donnée non communiquée</span><span each={ value, key in props.params }>{ renderLabel(key, value) }: { renderValue(key, value) }<br></span></span></span>
      </virtual>
      <eligibilite if={ props.terms } conditions={ props.terms } connective={ props.connective }></eligibilite>
      <eligibilite if={ props.children } conditions={ props.children }></eligibilite>
    </li>
  </ul>

  <style scoped>
    .failed {
      color: #c0392b;
    }
    .sub:before {
      content: '';
    }
    li li {
      padding-left: 10px;
    }
    li ul, li.sub {
      display: inline;
      padding-left: 0;
    }
    .connective {
      color: #222;
      font-style: italic;
    }
  </style>

</eligibilite>
