@font-face {
    font-family: 'sans';
    src: url('./font/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('./font/sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'sans';
    src: url('./font/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('./font/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'sans';
    src: url('./font/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('./font/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sans';
    src: url('./font/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('./font/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'mono';
    src: url('./font/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('./font/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mono';
    src: url('./font/sourcecodepro-bold-webfont.woff2') format('woff2'),
         url('./font/sourcecodepro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mono';
    src: url('./font/sourcecodepro-semibold-webfont.woff2') format('woff2'),
         url('./font/sourcecodepro-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'mono';
    src: url('./font/sourcecodepro-medium-webfont.woff2') format('woff2'),
         url('./font/sourcecodepro-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'mono';
    src: url('./font/sourcecodepro-it-webfont.woff2') format('woff2'),
         url('./font/sourcecodepro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
html, body, a, p, div, li, dl {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'sans';
}
html, body {
  width: 100%;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.full, .tools {
  margin: 0 auto;
  max-width: 1280px;
  display: block;
}
.tools {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main {
  padding: 1rem;
}
pre {
  padding: 5px;
  border: solid 1px #68c3a3;
  background-color: #eee;
  max-width: 1200px;
  font-family: 'mono';
  white-space: pre-wrap;
}
p {
  margin: 1rem 0;
}

/*** FORMS ***/
input[type=text],
input[type=url] {
  line-height: 3em;
  border: 1px solid #eee;
  padding: 0 .5rem;
  min-width: 300px;
}
input[type=submit],
.button {
  background-color: #68c3a3;
  border: none;
  padding: 0 10px;
  line-height: 3em;
  cursor: pointer;
  color: #fff;
}
input[type=submit]:hover,
.button:hover {
  background-color: #56bc98;
}

/************** Tool Tip Styles ********************************/
.tooltip {
  display: inline-block;
  position: relative;
  cursor: help;
}
.tooltip:hover {
  text-decoration: underline dotted;
}
.tooltip .tooltip-content {
  display: none;
  background: #eee;
  border: 1px solid #68c3a3;
  font-size: 0.875em;
  padding: 1em;
  position: absolute;
  left: 0;
  bottom: calc(100% + 20px);
  min-width: 150px;
  z-index: 10;
}
.tooltip .tooltip-content:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #68c3a3;
}
.tooltip:hover .tooltip-content {
  display: inline-block;
}

/* Glossary like list */
dt {
  font-variant: small-caps;
}
dt em {
  font-variant: normal;
}
dl {
  margin-top: 10px;
  font-size: 1.1em;
}

