openapi: 3.0.0
info:
  title: Api moteur de financement formation professionnelle
  description: Obtenir la liste des financements possibles (coûts et rémunération) en fonction du profil du bénéficiaire et des caractéristiques de la formation.
  version: {{ version }}
  contact:
    email: {{ contact }}
servers:
  - url: http://trefle.pole-emploi.fr/
    description: serveur de production
  - url: http://trefle.pole-emploi.fr/api-moteur/{{ shortversion }}
    description: serveur de production
  - url: http://trefle.beta.pole-emploi.fr/api-moteur/{{ shortversion }}
    description: serveur de recette
tags:
- name: financement
  description: Obtenir la liste des financements possibles (coûts et rémunération) en fonction du profil du bénéficiaire et des caractéristiques de la formation.
paths:
  /financement:
    post:
      summary: Lancer un calcul de financement
      parameters:
        - name: eligible
          in: query
          required: false
          description: Permet de filtrer les financements selon leur éligibilité
          schema:
            type: boolean
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/request'
      responses:
        200:
          description: Calcul effectué avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
        422:
          description: Les informations sont invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        400:
          description: Le format de la requête est invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
components:
  schemas:
    request:
      properties:
        beneficiaire:
          $ref: '#/components/schemas/beneficiaire'
        formation:
          $ref: '#/components/schemas/formation'
    collection:
      required:
        - financements
      properties:
        financements:
          $ref: '#/components/schemas/financements'
    financements:
      type: array
      items:
        $ref: "#/components/schemas/financement"
    errors:
      type: object
      additionalProperties:
        type: string
